.viminfo
# Files
.vimspector.log
.z
.zprofile
.*history
.*hist
.sqlite*
.zcompdump*
.DS_Store

#Folders
Library/
Applications/
Desktop/
Documents/
Downloads/
go/
Movies/
Music/
Pictures/
Public/
notes/
source/
snap/

