[core]
	editor = vim
	preloadindex = true
	fscache = true
	autocrlf = true
	#sshCommand = "ssh -F ~/.ssh/confg"
[user]
	name = Nicolai Sättler
	email = nicolaisattler1990@gmail.com
[include "gitdir:~/mnt/c/DataQuint/"]
	#path = ~/mnt/c/DataQuint/.gitconfig
[color]
	ui = auto
[credential]
	#helper = store
	#helper = manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	create-pull-request = !sh -c 'stash pull-request \\$0 \\$@'
	d = difftool
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[http] 
	sslVersion = sslv3
	sslVerify = true
[help]
	autocorrect = 1
[gc]
	auto = 256
[difftool]
	prompt = false
