.viminfo
# Files
.vimspector.log
.z
.zprofile
.*history
.*hist
SpecFlow*
.sqlite*
.zcompdump*
.DS_Store
*lock.json

#Folders
Library/
Applications/
Desktop/
Documents/
Downloads/
go/
Movies/
Music/
Pictures/
Public/
notes/
source/
snap/
kitty-themes/
iterm2/
filezilla/
configstore/
broot/
zed/
.config/
!.config/nvim/**
!.config/bat/
.config/gh/hosts.yml
