.viminfo
# Files
.vimspector.log
.z
.zprofile
.zsh_history.bash_history
.python_history
.zcompdump*
.DS_Store

#Folders
Library/
.Trash/
.aspnet/
.azure/
.azurefunctions/
.bash_history
.cache/
.cargo/
.config/
.cups/
.docker/
.dotnet/
.fzf/
.lesshst
.local/
.npm/
.node_repl_history
.nuget/
.oh-my-zsh/
.profile
.putty/
.rustup/
.sonarlint/
.ssh/
.templateengine/
.vim/
.vscode/
.zsh_sessions/
.zsh_history
.zshenv
Applications/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/

